@import url('https://fonts.googleapis.com/css?family=Arvo');

@import url('https://fonts.googleapis.com/css?family=Lato');

@import url('https://fonts.googleapis.com/css?family=Rokkitt');

@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');


body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  margin: 0;
  border: 0;
  padding: 0;
}

.container {
font-size: 14px;
text-align: right;
padding-right: 10px;
/*display: inline-block;*/
margin: 0;
border: 0;
padding: 20px;
background-color: #f4d50c;
}

.container a {
text-decoration: none;
letter-spacing: 15%;
word-spacing: 30%;
color: black;
border: black solid 1px;
margin: 20px 6px 4px 6px;
padding: 4px 6px 4px 6px;
}

.container a:hover {
  color: white;
  border: black solid 2px;
}

.inputbox {
  color: white;
  font-size: 14px;
  border: 1px solid #f4d50c;
  max-width: 20%;
  margin-left: 2em;
  height: auto;
}

.thumb {
  display: inline-block;
  max-width: 100%;
}

em {
color: #f4d50c;

}

.bgimg {
  position: fixed;
  z-index: -1;
  width: 100%;
  top: 8%;
}

.headline {
  margin: 2% auto;
  display: block;
  width: 35%;
  color: white;
  font-size: 17px;
  text-align: center;
  font-family: 'Cutive Mono', monospace;
  letter-spacing: 20%;
  word-spacing: 5%;
}


.logo {
margin: 30% auto;
display: block;
width: 13%;
}


/*.onair {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  color: black;
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
  top: 50%;
}*/

.video {
 position: fixed;
 top: 50%; left: 50%;
 z-index: -1;
 min-width: 100%;
 min-height: 100%;
 width: auto;
 height: auto;
 transform: translate(-50%, -50%);
}
