@import url('https://fonts.googleapis.com/css?family=Arvo');

@import url('https://fonts.googleapis.com/css?family=Lato');

@import url('https://fonts.googleapis.com/css?family=Rokkitt');

@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');


body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  margin: 0;
  border: 0;
  padding: 0;
}

.container {
font-size: 14px;
text-align: right;
/*padding-right: 10px;
margin: 0;
border: 0;*/
padding: 20px;
background-color: #f4d50c;
position: fixed;
width: 100%;
top: 0;
margin-left: -40px;
/*padding-right: 20px;*/
}

.container a {
text-decoration: none;
letter-spacing: 15%;
word-spacing: 30%;
color: black;
border: black solid 1px;
margin: 20px 6px 4px 6px;
padding: 4px 6px 4px 6px;
}

.container a:hover {
  color: white;
  border: black solid 2px;
}

.inputbox {
  color: white;
  font-size: 14px;
  border: 1px solid #f4d50c;
  max-width: 21%;
  margin-left: 2em;
  width: auto;
  display: inline-block;
  margin-bottom: 2em;
}

.inputboxlong {
  color: white;
  font-size: 14px;
  border: 1px solid #f4d50c;
  max-width: 28%;
  margin-left: 2em;
  width: auto;
  display: inline-block;
  margin-bottom: 2em;
  padding: 2em;
}


.showpage {
  background: black;
}

.showbox {
margin: auto;
display: block;
max-width: 40%;
}

.feature {
  max-width: 45%;
  margin: auto;
  display: block;
  top: 0;
}

.thumb {
  max-width: 100%;
}

em {
color: #f4d50c;

}

.bgimg {
  position: fixed;
  z-index: -1;
  width: 100%;
  top: 7%;
}

.headlinesmall h1{
  margin: 7% auto 1% auto;
  display: block;
  width: 40%;
  color: #f4d50c;
  font-size:30px;
  text-align: center;
  font-family: 'Cutive Mono', monospace;
  letter-spacing: 20%;
  word-spacing: 5%;
}


.headline {
  margin: 7% auto;
  display: block;
  width: 35%;
  color: white;
  font-size: 17px;
  text-align: center;
  font-family: 'Cutive Mono', monospace;
  letter-spacing: 20%;
  word-spacing: 5%;
}

.headline p {
  margin: 0 auto 0 auto;
  display: block;
  width: 45%;
  color: white;
  font-size: 11px;
  text-align: center;
  font-family: 'Cutive Mono', monospace;
  letter-spacing: 20%;
  word-spacing: 5%;
}

.logo {
margin: 30% auto;
display: block;
width: 13%;
}

/*.controls {
  margin: auto;
  display: block;
}*/

.controls a{
  text-decoration: none;
  letter-spacing: 15%;
  word-spacing: 30%;
  color: black;
  border: #f4d50c solid 1px;
  margin: 20px 6px 4px 6px;
  padding: 4px 6px 4px 6px;
}

.boxform {
max-width: 25%;
margin-top: 20%;
margin-left: 3%;
display: block;
background: none;
border: 1px solid #f4d50c;
/*opacity: 0.5;*/
padding: 20px;
color: white;
}

fieldset {
  border: none;
}


.video {
 position: fixed;
 top: 50%; left: 50%;
 z-index: -1;
 min-width: 100%;
 min-height: 100%;
 width: auto;
 height: auto;
 transform: translate(-50%, -50%);
}
